@font-face {
  font-Family: Elephont;
  src: url('../fonts/Elephont-Regular.eot');
  src: url('../fonts/Elephont-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Elephont-Regular.ttf') format('truetype'),
  url('../fonts/Elephont-Regular.otf');
}

@font-face {
  font-Family: Comfortaa;
  src: url(../fonts/Comfortaa-Regular.ttf) format('truetype');
}

@font-face {
  font-Family: Quicksand;
  src: url(../fonts/Quicksand-Regular.otf);
}
