@import '_colors.scss';
@import '_fonts.scss';
/* Base Application Styles */
html,#app {
  height: 100%;
  width:100%;
}
body{
  background: map-get($light-colors, "lace");
  height: 100%;
  width:100%;
  min-height: 100%;
}
